{% extends "auctions/layout.html" %}

{% block title %}{{ listing.name }}{% endblock %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
    {% if listing.imageurl != "" %}
    <div class="container text-center m-5"><img class="img-fluid" src="{{ listing.imageurl }}"></div>
        
    {% endif %}
    {{ listing.description }}
    {% if listing.have_bid %}
        <h3>${{ current_bid }}</h3>
    {% else %}
        <h3>${{ listing.start_price }}</h3>
    {% endif %}
    TODO: Bid form!
    <h3>Details:</h3>
    <ul>
        <li>Listed by (TO DO links) : <a href="">{{ seller }}</a></li>
        <li>Categories :
            <ul>
                {% for category in categories %}
                    <li>{{ category.name }}</li>
                {% empty %}
                    <li>No Category Listed</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}