{% extends "auctions/layout.html" %}

{% block title %}{{ listing.name }}{% endblock %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
    {% if listing.imageurl != "" %}
    <div class="container text-center m-5"><img class="img-fluid" src="{{ listing.imageurl }}"></div>
    {% endif %}
    <h5>{{ listing.description }}</h5>
    <h3>${{ listing.current_price }}</h3>
    <h6>{{ bid_count }} bid(s) so far, current bidder is {{ listing.current_bidder.username }}</h6>
    {% if user.is_authenticated and user != listing.seller %}
        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            <input type="number" required placeholder="Bid Amount" name="price" min="{{ listing.current_price }}">
            <button type="submit" class="btn btn-primary">Bid</button>
        </form>
    {% elif user == listing.seller %}
        TODO: Closing auctions!!!
        <form action="">
            <button class="btn btn-primary"type="submit">Close Auction</button>
        </form>
    {% else %}
        <h6><a href="{% url 'login' %}">Login</a> to bid on this auction</h6>
    {% endif %}

    <h3>Details:</h3>
    <ul>
        <li>Listed by: <a href="{% url 'user_view' seller %}">{{ seller }}</a></li>
        <li>Categories :
            <ul>
                {% for category in categories %}
                    <li>{{ category.name }}</li>
                {% empty %}
                    <li>No Category Listed</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}