{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container">
            <h5 id="form-message" class="row"></h5>
            <div>
                <form id="form-post">
                    <label for="form-body">New Post</label>
                    <textarea required class="form-control mb-2" id="form-body" placeholder="New Post"></textarea>
                    <button class="btn btn-primary" type="submit">Post</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="container" id="post-feed">
        </div>
    <div class="d-flex">
        <div class="mx-auto mt-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item page-link">Previous</li>
                    <li class="page-item page-link">Next</li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}