{% extends "network/layout.html" %}
{% load static %}

{% block title %}User {{ user.username }}{% endblock %}

{% block script %}<script src="{% static 'network/user.js' %}"></script>{% endblock %}

<!-- Add feed -->
<!-- Add fluid follow button -->
{% block body %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            {% if user == user_v %}
            <h5 class="card-title">{{ user_v.username }}  <button class="btn" disabled id="follow-button" data-follow="false">You can't follow yourself</button></h5>
            {% else %}
                <h5 class="card-title">{{ user_v.username }}  <button class="btn btn-primary" id="follow-button" data-follow="true">Follow</button></h5>
            {% endif %}
            <hidden id="user-v" data-username="{{ user_v.username }}"></hidden>
            
            <p class="card-text">{{ user_v.bio }}</p>
            <small class="card-text">Followers: {{ follower_count }}</small>
            <small class="card-text">Following: {{ followed_count }}</small>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Date Joined: {{ user_v.date_joined }}</li>
            <li class="list-group-item">Email: {{ user_v.email }}</li>
            <li class="list-group-item">First Name: {{ user_v.first_name }}</li>
            <li class="list-group-item">Last Name: {{ user_v.last_name }}</li>
          </ul>
        </div>
      </div>
      <hr>
      <h1 class="display-3 mt-2">User Posts</h5>
      <div class="container border border-grey p-5 m-3" id="post-feed">
        </div>
      <div class="d-flex">
        <div class="mx-auto mt-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                    <li class="page-item page-link" id="previous">Previous</li>
                    <li class="page-item page-link" id="next">Next</li>
                </ul>
            </nav>
        </div>
      </div>
    </div>
  </div>
{% endblock %}